* {
    border: 1px solid black;
    margin: 0px;
    padding: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ============================================================================= */
/* ============================================================================= */

html {
    background-color: aquamarine;
    min-height: 100%;
}

/* ============================================================================= */
/* ============================================================================= */

body {
    background-color: orange;
    min-height: 100%;
}

/* ============================================================================= */
/* ============================================================================= */

header {
    background-color:rgb(14, 105, 241);
}

/* ============================================================================= */
/* ============================================================================= */

main {
    background-color: white;
}

table th, td{
    border-radius: 25px;
}

th {
    background: linear-gradient(rgb(0, 64, 160), rgb(14, 105, 241));
    color: white;

    min-width: 120px;
    height: auto;
    
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

/* ============================================================================= */
/* ============================================================================= */

footer {
    padding: 10px;

    background-color: gray;
    color: white;
    text-align: center;
}
